# Python
.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Environment
.env

# IDE
.idea/
.vscode/

# OS
Thumbs.db
.DS_Store

# Logs
*.log

# Local database and dumps
mysql_data/
data/
dump/
*.sql.gz
